@charset "UTF-8";
/* CSS Document */

body {font-family: helvetica,arial,sans-serif; padding: 0px}
.container,.feature,footer,.content,content-dark {max-width: 1200px; margin: auto}
.flex {display: flex; justify-content: space-between}
section,nav,footer, .content,.content-dark {padding: 30px; }
p {font-weight: 300}
h1,h2,h3 {font-weight: 500}
.content-dark, nav {color: white; background-color: #0c105c}
nav {display: flex}
nav a {color: white; text-align: center; display: block; text-decoration: none; font-size: 20px; }
#mainlink {font-size: 35px}
.blurb {max-width: 50%}
.container {margin-top: 0px;border-right: 1px solid #c3c3c3;
border-left: 1px solid #c3c3c3;padding: 0px;overflow: auto}
h3 {font-size: 25px}

img {max-width: 100%}
.feature {height: 350px; padding: 0px}
#feature1 {background-image:url("/web/20231224114729im_/http://nevadadarkskies.org/images/looking-up.jpg"); background-position: center; display: flex; justify-content: center;
  align-items: center;}
#feature2 {background-image: url("/web/20231224114729im_/http://nevadadarkskies.org/images/starryfield.jpeg"); display: flex; justify-content: center;
  align-items: center;}	
.feature h2 {color: white; text-align: center;max-width: 70%; }
footer a {color: white; text-decoration: none}
p {line-height: 25px}
#partners h3 {text-align:center}

@media screen and (max-width: 750px) {
	.flex {display:block }
	.blurb {max-width: 100%}
}

.button {display: block; background-color:#0c105c; height: 50px; width: 150px}

.caption {font-size: 12px}
/*
     FILE ARCHIVED ON 11:47:29 Dec 24, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 14:38:08 May 17, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.519
  exclusion.robots: 0.022
  exclusion.robots.policy: 0.011
  esindex: 0.01
  cdx.remote: 64.903
  LoadShardBlock: 125.838 (3)
  PetaboxLoader3.datanode: 141.17 (4)
  load_resource: 171.643
  PetaboxLoader3.resolve: 113.573
*/